//colors

//whites
$white: rgb(255, 255, 255); //#ffffff;
$wild_sand: rgb(245, 245, 245); //#F5F5F5

//blacks
$black: rgb(0, 0, 0); //#000000;
$cod_black: rgb(5, 5, 5); //#050505;
$mine_shaft: rgb(42, 42, 42); //#2A2A2A;
$block_black: rgb(30, 30, 30); //#1E1E1E
$mb_black: rgb(15, 15, 15); //#0F0F0F

//grays
$cod_gray: rgb(14, 14, 14); //#0E0E0E;
$dove_gray: rgb(104, 103, 103); //  #686767
$dove_gray_1: rgb(112, 112, 112); //  #707070
$night_rider: rgb(51, 51, 51); //#333333
$gray: rgb(142, 142, 142); //#8E8E8E;
$alabaster: rgb(247, 247, 247); //#F7F7F7
$emperor: rgb(85, 85, 85); // #555555
$white_smoke: rgb(237, 235, 235); //EDEBEB
$concrete: rgb(242, 242, 242); //#F2F2F2
$code_gray: rgb(14, 14, 14); //#0E0E0E;
$text_gray: rgb(123, 123, 123); // #7b7b7b
$dark_gray: rgb(138, 138, 138); // #8a8a8a
$hover_gray: rgb(27, 27, 27); // #1B1B1B
$loading_gray: rgb(75, 75, 75); // #4B4B4B;

//reds
$torch_red: rgb(255, 31, 31); //#FF1F1F;
$red: rgb(230, 0, 0); // #E60000
$pink: rgb(255, 127, 127); //#ff7f7f;
$alizarin_crimson: rgb(216, 35, 37); //#D82325;
$error_red: rgb(255, 0, 0); // #FF0000

//footer gray
$light_gray: rgb(78, 78, 78); //4E4E4E;

//silvers
$silver: rgb(200, 198, 198); //#C8C6C6;
$light_silver: rgb(195, 195, 195); //#C3C3C3;
$bombay: rgb(174, 176, 179); //AEB0B3;
$gallery: rgb(238, 238, 238); //EEEEEE;
$pinkymenu: rgb(230, 230, 230); //e6e6e6;

$alto: rgb(221, 220, 220); // #DDDCDC
//borders
$border_black: 1px solid $black;
$opacity_border_back: 1px solid rgba(0, 0, 0, 0.1);

//blue
$malibu: rgb(119, 186, 255); //#77BAFF

//pinky-ring
$gold-text-shadow: -1px 1px 2px rgb(217, 187, 149);
$gold-linear-bg-color: linear-gradient(to right, #845e34 30%, #735532 100%);
$silver-text-shadow: -2px 1px 3px rgba(92, 92, 92, 0.64);
$silver-linear-bg-color: linear-gradient(to right, #000000 30%, #000000 100%);

//focus outline
$outline: rgb(59, 153, 252); //#3B99FC
