@import 'variables';

@font-face {
  font-family: $font_proxima_regular;
  src: url('ProximaNova-Regular.woff2') format('woff2'),
    url('ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
}
