//fonts
$font-proxima-regular: 'ProximaNova Regular';
$font_patron: 'Patron';
$font_patron_bold: 'Patron-Bold';
$font_minion: 'Minion';

//background

$background_none: none;

// ****************************************
// media-queries
// ****************************************

/*
Mobile: Small
min: 320 portrait
max: 600 landscape

Tablet: Medium
601 - 800 portrait

Tablet landscape / Desktop: Large
801 - 1200

Desktop: xLarge
1201 - 1600
*/

// breakpoints
// breakpoints
$cs__xsmall: 48em; // 48x16 = 768px
$cs__xsmall-min: ($cs__xsmall - 0.0625); // 767px
$cs__medium: 64em; // 64x16 = 1024px
$cs__medium-min: ($cs__medium - 0.0625); // 1023px
$cs__large: 75em; // 76x16 = 1200px
$cs__large-min: ($cs__large - 0.0625); // 1199px
$cs__xlarge: 100em; // 100x16   = 1600px
$screen: unquote('only screen');
$landscape: unquote('#{$screen} and (orientation: landscape)');
$portrait: unquote('#{$screen} and (orientation: portrait)');
$mobile: unquote('#{$screen}');
$tablet: unquote('#{$screen} and (min-width: #{$cs__xsmall})');
$phablet: unquote('#{$screen} and (min-width: #{$cs__medium})'); //Bigger tablets(phablets)
$desktop: unquote('#{$screen} and (min-width: #{$cs__large})');
$between-mobile-tablet: unquote(
  '#{$screen} and (min-width: #{$cs__xsmall}) and (max-width: #{$cs__medium-min})'
);
$between-tablet-phablet: unquote(
  '#{$screen} and (min-width: #{$cs__medium}) and (max-width: #{$cs__large-min})'
);
$print: unquote('print');


// TYPO Sizes=========================================
$base__font-size: 16px;
$font-size-9: 0.5625rem;
$font-size-10: 0.625rem;
$font-size-11: 0.6875rem;
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-17: 1.0625rem;
$font-size-18: 1.125rem;
$font-size-19: 1.1875rem;
$font-size-20: 1.25rem;
$font-size-21: 1.3125rem;
$font-size-22: 1.375rem;
$font-size-23: 1.4375rem;
$font-size-24: 1.5rem;
$font-size-25: 1.5625rem;
$font-size-26: 1.625rem;
$font-size-27: 1.6875rem;
$font-size-28: 1.75rem;
$font-size-29: 1.8125rem;
$font-size-30: 1.875rem;
$font-size-31: 1.9375rem;
$font-size-32: 2rem;
$font-size-33: 2.0625rem;
$font-size-34: 2.125rem;
$font-size-35: 2.1875rem;
$font-size-36: 2.25rem;
$font-size-39: 2.4375rem;
$font-size-40: 2.5rem;
$font-size-41: 2.563em;
$font-size-42: 2.625rem;
$font-size-45: 2.8125rem;
$font-size-48: 3rem;
$font-size-50: 3.125rem;
$font-size-55: 3.4375rem;
$font-size-60: 3.75rem;
$font-size-64: 4rem;
$font-size-65: 4.0625rem;
$font-size-70: 4.375rem;
$font-size-72: 4.5rem;
$font-size-75: 4.6875rem;
$font-size-80: 5rem;
$font-size-85: 5.315rem;

$font-weight-extra-light: 100;
$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-extra-large-bold: 900;

$font-size-title: 2rem;
$font-size-sub-title: 1.6rem;
$font-size-small-text: 1.2em;

