.main-container {
  background-color: white;
}
.header {
  text-align: center;
}
.post,
h2 {
  color: red;
}
.custom-para {
  text-decoration: underline;
  color: blue;
}

.common-post{
		width: 300px;
		border: 2px solid black;
		margin: 0 auto;
		font-weight: bold;
}

