@media print {
  header,
  footer {
    display: none;
  }
}

*:focus {
  outline: 1px dotted;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
  // need this only for the Mobile devices , so that scroll will not happen for the overlays.
  @media (max-width: $cs__medium-min) {
    position: fixed;
  }
}

body {
  font-size: 16px;
  -moz-font-feature-settings: 'liga' on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga' on;
  text-rendering: optimizeLegibility;
}

.c-icon {
  padding: 0 5px;
}

.error-text {
  color: $alizarin_crimson;
  font-family: $font_minion;
  font-size: $font-size-16;
  padding-left: 0.8em;
  padding-top: 0.688em;
}
