.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: $black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.border-list{
  padding: 45px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.border-list{
  .tile-img{
    width: 470px ;
    height: 280px ;

    @include breakpoint(sm-only) {
      width: 300px ;
      height: 280px ;
    }

    @include breakpoint(md) {
      width: 340px ;
      height: 280px ;
    }

    @include breakpoint(lg) {
      width: 357px ;
      height: 280px ;
    }

    @include breakpoint(xl) {
      width: 470px ;
      height: 280px ;
    }

  }
}

